# dist file for Plotting
git      /extensions/Plotting            https://github.com/OpenEngineDK/extensions-Plotting.git
git-dev  /extensions/Plotting            git@github.com:OpenEngineDK/extensions-Plotting.git
